# Arquivos do sistema
.DS_Store
Thumbs.db

# Dependências
server/node_modules/
client/node_modules/

# Lock files 
server/package-lock.json
client/package-lock.json

# Arquivos de ambiente
server/.env
server/.env.*
!server/.env.example


# Build outputs (opcional)
server/dist/
client/dist/

# Logs
*.log
npm-debug.log*

# IDE (opcional)
.vscode/
.idea/
*.swp