# The NODE_ENV environment variable specifies the environment in which the application is running.
# Available options:
#   - development: Local development with hot-reload and debug features
#   - production:  Production environment with optimizations and caching
#   - test:        Automated testing environment
NODE_ENV=

# The HOSTNAME of your MONGO_URI must be exactly the same as the database service defined in 'docker-compose.dev.yml'
MONGO_URI=